.App {
  text-align: center;
}

input {
  padding: 10px;
  font-size: 18px;
  width: 400px;
  height: auto;
  margin: 10px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
ul {
  display: grid;
  place-items: center;
}

li {
  list-style-type: none;
  width: 200px;
  height: 80px;
  background-color: #00df6c;
  margin: 10px;
  padding-top: 20px;
  color: white;
  font-family: monospace;
  font-size: 23px;
}

#task-item {


  display: flex;
  flex-direction: row;
  align-items: center;
}